.blackfriday-html-toolbar {
    position: relative;
    width: 100%;
    z-index: 999;
    font-family: inherit;
}
.blackfriday-html-toolbar-inner {
    height: auto;
    width: 100%;
    color: #fff;
    background: #2a394e;
}
.blackfriday-html-toolbar-content {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-weight: 400;
    font-size: 18px;
}
.blackfriday-html-toolbar-content * {
    margin: 0;
    padding: 0;
}
@media print {
    .blackfriday-html-toolbar,
    .blackfriday-html-toolbar * {
        display: none !important;
    }
}
.blackfriday-buynow-btn,
.blackfriday-buynow-btn:hover {
    background: rgb(189 214 120 / 74%);
    color: #000;
    padding: 7px 18px;
    margin-left: 25px;
    text-decoration: none;
    border: none;
    transition-duration: 0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}
.blackfriday-buynow-btn:active {
    background: rgb(189 214 120 / 55%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.blackfriday-txt {
    font-weight: 700;
}
.blackfriday-countdown-timer {
    display: inline-block; 
    margin-right: 15px;
}
.blackfriday-countdown-days,
.blackfriday-countdown-hours,
.blackfriday-countdown-minutes,
.blackfriday-countdown-seconds {
    font-size: 22px; 
    font-weight: 600; 
    text-align: center; 
    width: 60px; 
    background-color: rgb(151 174 109 / 14%); 
    display: inline-block; 
    margin-left: 5px;
    padding: 5px 0;
}
.blackfriday-countdown-days .txt,
.blackfriday-countdown-hours .txt,
.blackfriday-countdown-minutes .txt,
.blackfriday-countdown-second .txt {
    font-size: 12px;
}
.blackfriday-countdown-timer-outer {
    display: inline-block;
    vertical-align: middle;
    min-height: 64px;
    min-width: 275px;
}
.blackfriday-text-outer {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.blackfriday-btn-outer {
    display: inline-block;
    vertical-align: middle;
}
.blackfriday-txt-bottom {
    text-align: left;
    font-size: 16px;
}
.blackfriday-coupon-code {
   letter-spacing: 1px;
   border-bottom: 1px dotted #fbc460;
   color: #fbc460;
}
.blackfriday-hide-coupon-line {
    display: none;
}
@media only screen and (max-width: 700px) {
    .blackfriday-countdown-timer-outer {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .blackfriday-countdown-timer-outer,
    .blackfriday-text-outer, 
    .blackfriday-btn-outers {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    .blackfriday-txt-bottom {
        text-align: center;
    }
}
/* BEGIN: FIXED TOOLBAR */
/*body {
    padding-top: 90px !important;
}
.blackfriday-html-toolbar {
    position: fixed;
    left: 0;
    top: 0;
}
@media only screen and (max-width: 700px) {
    body {
        padding-top: 160px !important;
    }
}
@media only screen and (max-width: 600px) {
    body {
        padding-top: 220px !important;
    }
}*/
/* END: FIXED TOOLBAR */